@model LivrariaControleEmprestimo.DATA.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div class="row">
    <div class="col-md">
        <form asp-action="Details" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <a class="btn btn-success mt-1" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
                <a class="btn btn-dark mt-1" asp-action="Index">Voltar</a>
            </div>
            <div class="card">
                <div class="card-header">Informações Pessoais</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="CliCpf" class="control-label"></label>
                        <input disabled asp-for="CliCpf" class="form-control" />
                        <span asp-validation-for="CliCpf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CliNome" class="control-label"></label>
                        <input disabled asp-for="CliNome" class="form-control" />
                        <span asp-validation-for="CliNome" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">Endereço</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="CliEndereco" class="control-label"></label>
                            <input disabled asp-for="CliEndereco" class="form-control" />
                            <span asp-validation-for="CliEndereco" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CliCidade" class="control-label"></label>
                            <input disabled asp-for="CliCidade" class="form-control" />
                            <span asp-validation-for="CliCidade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="CliBairro" class="control-label"></label>
                            <input disabled asp-for="CliBairro" class="form-control" />
                            <span asp-validation-for="CliBairro" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CliNumero" class="control-label"></label>
                            <input disabled asp-for="CliNumero" class="form-control" />
                            <span asp-validation-for="CliNumero" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">Contato</div>
                <div class="card-body row">
                    <div class="form-group col-md">
                        <label asp-for="CliTelefoneCelular" class="control-label"></label>
                        <input disabled asp-for="CliTelefoneCelular" class="form-control" />
                        <span asp-validation-for="CliTelefoneCelular" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md">
                        <label asp-for="CliTelefoneFixo" class="control-label"></label>
                        <input disabled asp-for="CliTelefoneFixo" class="form-control" />
                        <span asp-validation-for="CliTelefoneFixo" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
